*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'open sans', sans-serif;
}

nav{
	padding: 0.8rem;
	margin-bottom:2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
/*	text-align: justify;*/
}

footer{
	padding: 0.7rem;
}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* #002540 color */
#pre-footer{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #002540 ;
	color: #fff;
	padding-left:10% ;
	padding-right: 10%;
}

#pre-footer .fcard{
	display: inline-block;
	vertical-align: middle;
	min-height: 120px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}